body{
    background-color: #EFD9CE;
}
h1 {
    color: #FF5964;
    font-size: 60px;
    justify-content: center;
    text-align: center;
    
}
h2 {
    color: #47525E;
    justify-content: center;
    text-align: center;
}
